<html>
<head>
    <title>Reseteo de contraseña</title>
</head>
<body>
<h2>Restablecer contraseña</h2>
<p>Hola</p>

<p>Recibimos una solicitud para hacer el cambio de tu contraseña en
<b>{{company_name}}</b>.
</p>

<p>Haz click en el boton para reestablecer tu contraseña</p>
<p>
    <a href="{{ reset_link }}"
    style="padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;">
    Restablecer contraseña
    </a>
</p>
<p>
    Este enlace expirara en {{link_expire_min}} minutos.
</p>

</body>
</html>